.typewriter{
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% { border-color: transparent;}
}

@keyframes typing{
    from { width: 0; }
}