@import "tailwindcss";
*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: none;
}

.cursor{
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
/* 
#welcome {
  text-shadow: 0px 0px 1px white,
               0px 0px 1px white,
               0px 0px 1px white,
               0px 0px 1px white;
} */